# Ignore the Virtual Environment
venv/
.env

# Ignore Python Cache
__pycache__/
*.py[cod]

# Ignore Large Data Files (Recruiters only want your code, not 100MB of synthetic data)
data/*.pt
data/*.csv

# Ignore IDE settings
.vscode/
.idea/